@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
.brawl-news {
  font-family: "Jost" sans-serif;
  border-radius: 10px;
  color: #000000
}
